---
---
@import "{{ site.theme }}";
header h1 {
  font-size: 2em;
  text-transform: none !important;
  padding-bottom: 10px;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {

    text-decoration: none;
}
a, a:hover {

}
section #main_content {
  
}